<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión | Reútil</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<form onsubmit="handleLogin(event)">
    <div class="field">
        <label>Email *</label>
        <input type="email" name="email" required placeholder="mail@maturana.edu.uy"/>
    </div>
    <div class="field">
        <label>Contraseña *</label>
        <input type="password" name="password" required/>
    </div>
    <button type="submit" class="btn btn-primary" id="loginBtn">Iniciar sesión</button>
</form>

<p>¿No tenés cuenta? <a href="/registro.html">Registrate</a></p>

</body>
<script type="module" src="../public/login.js"></script>
</html>